@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #161853;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  position: relative;
}

.logo h1 {
 
  font-size: 1.8rem;
}

.header-1 {
  margin: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.button i {
  font-size: 2rem;
}

.header-2{

  box-shadow: -1px -3px 12px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 12px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 12px -4px rgba(0,0,0,0.75);


  background-color: white;
}

.header-2_container{

  padding: 0.5rem  0;
  display: flex;
  justify-content: space-between;
  
}
.options{
  display: flex;
  align-items: center;
}
.options i{
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}
.color{
  width: 7%;
  display: flex;
  justify-content: space-between ;

}
.color p{
  margin-bottom: 0;

 
  align-items: center;
}

.color-box{
  width: 25%;
 border-radius: 2px ;

  background-color: #161853;
}

.buttons{
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  width: 12%;
   
  display: flex;
  transition: 5s ease;
}
.buttons i{

  font-size: 1.2rem;
  color: black;
}

.divider{
  opacity: 0.4;
  height: 80%;
  border-right: 1px solid grey;
  margin: 0;
  
}
.buttons i:hover{
  transform: scale(1.4);
}

.modal-content{
  max-height: 500px;
  overflow-y: scroll;
  backdrop-filter: blur(6px) saturate(173%);
  -webkit-backdrop-filter: blur(6px) saturate(173%);
  background-color: rgba(17, 25, 40, 0.33);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-body p{
  width: 100%;
  text-align: center;
  border-radius: 7px;
  
  padding: 2rem 3rem;
  color: white;
}

.modal{
  background-color: transparent;
}

.btn-close{
background-color: white;
}

.cl-1{
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.cl-2{
  background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cl-3{
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cl-4{
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.cl-5{
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cl-6{
  background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

